* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: rgba(86, 245, 123, 0.257);
}

.main-container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  font-size: 15px;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

button:hover {
  background-color: #3e8e41;
}

h2 {
  margin-bottom: 10px;
  font-size: 15px;
}

p {
  margin-bottom: 10px;
  font-size: 18px;
}

.button-delar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  flex-basis: calc(33.33% - 10px);
}

.btn:hover {
  background-color: #106608;
}

.spel-resultat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  background-color: #a5a2a225;
  border-radius: 4px;
}

.resultat-spel {
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}

#resultat-status {
  margin-top: 10px;
  font-size: 20px;
  color: #3e8e41;
}

.först-board {
  margin-top: 20px;
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

ol li {
  font-size: 15px;
  margin-bottom: 10px;
  margin-top:10px ;
}
